.App {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
   }
   .title{
    /* display: flex; */
   display: grid;
   justify-content: center;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
  color: rgb(34, 85, 179);
   }
   label{
     font-weight: bold;
     display: flex;
     margin-bottom: 5px;
   }
   
   input[type="text"],
   input[type='email'],
   textarea{
     display: block;
     width: 400px;
     padding: 6px 12px;
     font-size :14px;
     line-height: 1.4;
     color: #555;
     background-color: #fff;
     border: 1px solid #ccc;
     border-radius: 4px;
     margin-bottom: 20px;
   }
   .form-control{
     margin-bottom: 20px;
   }
   
   .error{
     color: red;
   }
   input[type="submit"]{
       padding: 15px 12px;
       border-radius: 8px;
       width: 20%;
       display: flex;
       justify-content: center;
       margin: auto;
       background-color: rgb(34, 85, 179);
       border: none;
       color: #fff;
       cursor: pointer;
   }
   form{
    display: grid;
   justify-content: center;


   }

   nav{
     display: flex;
     justify-content: space-around;
     padding: 25px;
   }
   .link{
    text-decoration: none;

   }
   .remember{
     color: red;
   }
   .register{
     color:green;
   }